/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {} */

body {
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F1;
    max-width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    width: 100%;

}
.search{
    display: flex;
    align-items: center;
    gap: 13.3px;
    width: 114.68px;
    margin: 20px 24px;
    height: 22px;
}
.jumys_tap{
    display: flex;
    width: 86px;
    height: 22px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
}
.fancy_button{
    border: none;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 500px; */
    font-size: 14px;
    padding: 10px 12px;
    margin-right: 24px;
    background-color: rgba(8, 30, 52, 0.12);
    border-radius: 100px;
}
.fancy_button:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    color:#081E34;;
    border-radius: 100px;
}
.laptop_girl {
    display: flex;
    width: 93%;
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 6px;

}
.info {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    padding-bottom: 32px;

}
.get_hired {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 24px;
}
.the_best {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 48px;
}
.how_it_works{
    background-color: #712FFF;
    color: #FFFFFF;
    border: none;
    padding: 16px 24px;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.how_it_works:hover{
    cursor: auto;
    color:#FFFFFF 8%;
    background-color: rgb(132, 0, 255);
}
.how_it_works:active{
    cursor: auto;
    color:#FFFFFF;
    background-color: rgb(87, 0, 169);
}
.how_it{
    display: flex;
    flex-direction: column;
    padding: 54px 24px;
    gap: 54px;
    background: #E1DEE7;
    border-radius: 32px;
}
.lorem_how {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.lorem{
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.how_it_really_works{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 0;
}
.steps {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.first h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}
.first p{
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}
.second h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}
.second p{
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}
.third h3 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}
.third p{
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}
.get_started {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 54px 24px;
    gap: 32px;

}
.lets_start{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.tool_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
input {
    display: flex;
    text-align: center;
    background-image: url(./Search.png);
    background-repeat: no-repeat;
    outline: none;
    padding: 13px;
    width: 90%;
    height: 50px;
    border-radius: 12px;
    border: #E1DEE7;
    box-shadow: 1px 1px 2px 0 #E1DEE7;
}
.find_job_button{
    padding: 16px 24px;
    width: 106px;
    height: 50px;
    background: #712FFF;
    border: none;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.find_job_button:hover{
    cursor: auto;
    color:#FFFFFF 8%;
    background-color: rgba(125, 16, 250, 0.94);
}
.find_job_button:active{
    cursor: auto;
    color:#FFFFFF 12%;
    background-color: rgba(124, 12, 244, 0.854);
}
.duraq_guy {
    display: flex;
    width: 93%;
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 104px;

}
.upload{
    margin-left: 24px;
    margin-bottom: 32px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;

}
.start_your_career{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}
.upload_button{
    display: flex;
    padding: 16px 24px 16px 16px;
    margin-left: 24px;
    margin-bottom: 64px;
    gap: 8px;
    width: 114px;
    height: 50px;
    background: #712FFF;
    border: none;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.upload_button:hover{
    cursor: auto;
    color:#FFFFFF 8%;
    background-color: rgba(125, 16, 250, 0.94);
}
.upload_button:active{
    cursor: auto;
    color:#FFFFFF 12%;
    background-color: rgba(124, 12, 244, 0.854);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
    background-color: #FFFFFF;
    border-radius: 32px 32px 0px 0px;
}
.home{
    border: none;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 10px;
}
.home:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    border-radius: 100px;
}
.home:active{
    cursor: auto;
    background-color:rgba(8, 30, 52 0.12);
    border-radius: 100px;
}
.about_us{
    border: none;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 35px;
}
.about_us:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    border-radius: 100px;
}
.about_us:active{
    cursor: auto;
    background-color:rgba(8, 30, 52, 0.12);
    border-radius: 100px;
}
.how{
    border: none;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 35px;
}
.how:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    border-radius: 100px;
}
.how:active{
    cursor: auto;
    background-color:rgba(8, 30, 52, 0.12);
    border-radius: 100px;
}
.twitter{
    border: none;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 25px;
}
.twitter:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    border-radius: 100px;
}
.twitter:active{
    cursor: auto;
    background-color:rgba(8, 30, 52, 0.12);
    border-radius: 100px;
}
.insta{
    border: none;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.insta:hover{
    cursor: auto;
    background-color: rgba(8, 30, 52, 0.08);
    border-radius: 100px;
}
.insta:active{
    cursor: auto;
    background-color:rgba(8, 30, 52, 0.12);
    border-radius: 100px;
}
.credits{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #081E34;
    margin-bottom: 40px;
}
.nFactorial{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #081E34;
}